# for options see: https://github.com/plone/cookiecutter-zope-instance

default_context:
    initial_user_name: '{{initial_zope_username}}'
    #initial_user_password: 'admin'
    wsgi_listen: http://localhost:8080
    wsgi_threads: 4
    # direct, relstorage, zeo
    db_storage: direct