# A Plone PDM / UV setup for {{project_name}}


## Create project

```sh
uvx copier copy gh:mrtango/pdmplone my-project.de
cd my-project.de
uvx pdm install
```


## Create Zope instance

```sh
uvx pdm run create_instance
```


## Start Zope instance

```sh
uvx pdm run start_instance
```