# A Plone PDM / UV setup for {{project_name}}


## Create project

```sh
uvx copier copy gh:mrtango/pdmplone my-project.de
cd my-project.de
uvx pdm install
```


## Create Zope instance

```sh
uvx pdm run create_instance
```


## Start Zope instance

```sh
uvx pdm run start_instance
```

## open the browser

http://localhost:8080/

## Update the Copier template

You can update your configuration, when the pdmplone template has changes.

```sh
uvx copier update
```

or without the answering the questions again:

```sh
uvx copier update --defaults
```